<!DOCTYPE html >
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"/>
    <link rel="stylesheet" href="assets/css/style.css"/>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header__wrap">
          <button class="header__menu-mobile"><i class="fa-solid fa-bars"></i></button>
          <div class="header__logo"><a href="index.html"><img src="assets/images/logo.svg" alt="Monito"/></a></div>
          <nav class="header__menu">
            <ul>
              <li><a href="index.html">Trang Chủ</a></li>
              <li><a href="#">Danh Mục</a></li>
              <li><a href="#">Giới Thiệu</a></li>
              <li><a href="#">Liên Hệ</a></li>
            </ul>
          </nav>
          <form class="header__form" action="#">
            <input name="keyword" placeholder="Nhập từ khóa..."/>
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
          </form><a class="button" href="#">Tham Gia Cộng Đồng</a>
          <button class="header__search-mobile"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
      </div>
    </header>
    <footer class="footer">
      <div class="container">
        <div class="footer__top">
          <div class="footer__content">Đăng ký ngay để không bỏ lỡ các chương trình của chúng tôi</div>
          <form class="footer__form" action="#">
            <input placeholder="Nhập email của bạn..."/>
            <button>Đăng Ký Ngay</button>
          </form>
        </div>
        <div class="footer__middle">
          <nav class="footer__middle-links">
            <ul>
              <li><a href="index.html">Trang Chủ</a></li>
              <li><a href="#">Danh Mục</a></li>
              <li><a href="#">Giới Thiệu</a></li>
              <li><a href="#">Liên Hệ</a></li>
            </ul>
          </nav>
          <nav class="footer__socials">
            <ul>
              <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
            </ul>
          </nav>
        </div><hr>
        <div class="footer__bottom">
          <div class="footer__copyright">© 2023 Monito. All rights reserved.</div>
          <div class="footer__logo"><a href="index.html"><img src="assets/images/logo.svg" alt="Monito"/></a></div>
          <div class="footer__bottom-links">
            <ul>
              <li><a href="#">Điều khoản dịch vụ</a></li>
              <li><a href="#">Chính sách bảo mật</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>